- name: Create DB sugnet Group
  rds_subnet_group:
    state: present
    region: "{{ region }}"
    name: "{{ prefix }}_db_sub_grp"
    description: Subnet group for {{ prefix }}_db
    subnets:
      - "{{ az1_subnet_id }}"
      - "{{ az2_subnet_id }}"
  register: db_sub_grp

- name: Create multi-zone Postgres on RDS in a VPC
  local_action:
    module: rds
    command: create
    instance_name: "{{ prefix }}-db"
    region: "{{ region }}"
    size: "{{ size }}"
    instance_type: "{{ instance_type }}"
    db_engine: "{{ db_engine }}"
    multi_zone: yes
    port: 5432
    db_name: "{{ db_name }}"
    username: "{{ username }}"
    password: "{{ password }}"
    vpc_security_groups: "{{ sec_grp_id }}"
    iops: "{{ iops }}"
    subnet: "{{ db_sub_grp.subnet_group.name }}"
    wait: yes
    wait_timeout: 1800
  register: db

- debug:
    var: db

- name: Save DB details
  blockinfile:
    path: "{{ dynamic_config }}"
    block: |
      db_endpoint: "{{ db.instance.endpoint }}"
    create: yes
    marker: "# {mark} ANSIBLE MANAGED BLOCK: DB"