- name: Create natbox subnet for AZ1
  ec2_vpc_subnet:
    state: present
    region: "{{ region }}"
    map_public: yes
    vpc_id: "{{ vpc.vpc.id }}"
    cidr: 10.1.0.0/24
    az: "{{ az0 }}"
    tags:
      Name: "{{ prefix }}_az1_nat_subnet"
  register: az1_nat_subnet

- name: Create natbox subnet for AZ2
  ec2_vpc_subnet:
    state: present
    region: "{{ region }}"
    map_public: yes
    vpc_id: "{{ vpc.vpc.id }}"
    cidr: 10.1.1.0/24
    az: "{{ az1 }}"
    tags:
      Name: "{{ prefix }}_az2_nat_subnet"
  register: az2_nat_subnet

# - name: Create app subnet for AZ1
#   ec2_vpc_subnet:
#     state: present
#     region: "{{ region }}"
#     vpc_id: "{{ vpc.vpc.id }}"
#     cidr: 10.1.2.0/24
#     az: "{{ az0 }}"
#     tags:
#       Name: "{{ prefix }}_az1_app_subnet"
#   register: az1_app_subnet
#
# - name: Create app subnet for AZ2
#   ec2_vpc_subnet:
#     state: present
#     region: "{{ region }}"
#     vpc_id: "{{ vpc.vpc.id }}"
#     cidr: 10.1.3.0/24
#     az: "{{ az1 }}"
#     tags:
#       Name: "{{ prefix }}_az2_app_subnet"
#   register: az2_app_subnet

- name: Save Subnet details
  blockinfile:
    path: "{{ dynamic_config }}"
    block: |
      az1_nat_subnet: "{{ vpc.vpc.id }}"
      az2_nat_subnet: "{{ igw.gateway_id }}"
      # az1_app_subnet: ""
      # az2_app_subnet: ""
     create: yes